<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp Page</title>
    <style>
        body {
            font-family: "Times New Roman", Times, serif;
            background-color: whitesmoke;
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            background-image: url(Stuff/anima.jpg);
            backdrop-filter: blur(3px);
            background-size: cover;
            background-position: center;
        }

        h2 {
        color: #78a67c;
        font-size: 30px;
        }

        p {
        color: #78a67c;
        font-size: 20px;
        }

        label, button {
        font-size: 20px;
        
        }

        form {
            background-color: #fff; 
            padding: 100px;
            border-radius: 15px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            width: 321px;
            text-align: center;
        }

        input {
            width: 100%;
            padding: 10px;
            margin: 8px 0;
            box-sizing: border-box;
        }

        #ok {
            background-color: #A0C49D;
            color: white;
            padding: 15px 25PX;
            border: none;
            border-radius: 25px;
            margin-top: 5px;
            cursor: pointer;
        }

        #ok:hover {
            background-color: #86A789;
        }
    </style>
</head>
<body>
    <form action="/signup" method="post">
        <h2>Create an account</h2>
        <input type="text" id="username" name="name" required placeholder="Enter Username">

        {{!-- <input type="email" id="email" name="email" required placeholder="Enter Email"> --}}

        <input type="password" id="password" name="password" required placeholder="Enter Password">

        <input id="ok" class="sub" type="submit">
        <br>
        <br>
        <p>Already have an account?  <a style="text-decoration: none;" href="/login">LoginUp</a></p>
    </form>
</body>
</html>